h1 {
  color: rgb(255, 149, 167);
  background-color: aliceblue;
  margin-top: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
